

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color:#333132;
	color:#e2c89b;
	font-family:Arial, Helvetica, sans-serif;
	
}
header {
	margin-top: 20px;
	height:300px;
	width:940px;	
}
.toaction {
	font-size:40px;
	color:#f0ae60;
	margin-bottom:20px;
	}

.link {
	color:white;
}
.link:hover {
	color:#f0ae60;
	text-decoration:none;
}
header img {
	margin: 20px 0px 0px 400px;

}
.headera {
	background-image: url(../img/fishskin.jpg);
	margin-bottom:20px;
	
	}
.headerb {
	margin-top:20px;
	
	}
nav {
	font-family: 'MichromaRegular';
}

nav li {
	width:235px;	
}

.nav-stacked li {
	width:auto;
	
}
.navb a {
	height: 41px;
	}

.blue {
	background-color:#4d79a0;
	
	
}

h1, h2, h3, h4, h5 {
	font-family: 'MichromaRegular';
	font-weight:normal;
	color:#d0ba88;
	
}

.pad h1, h2, h3, h4, h5 {
	padding:0px 10px 0px 10px;
}

.pad p {
	padding:0px 20px 0px 20px;
}

.buttons {
	margin-top: 49px;
	height:127px;
}

.buttons btn {
	margin: 19px 0px 0px 20px;
}
.wood {
	background-image:url(../img/wood.jpg);
	}

.btn-samp {
	margin-top: 40px;
	}
	
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
	background-color:#c65e50;
	
	}
.color {
	width:140px;
	height:50px;

}
.red {
	background-color:#b25445;
	color:white;
}
.ltred {
	background-color:#c65e50;
	color:white;
}
.brown {
	background-color:#6b4337;
	color:white;
}
.ltbrown {
	background-color:#8d5e5e;
	color:white;
}
.orange {
	background-color:#f39ba4;
	color:white;
}
.ltorange {
	background-color:#f0ae60;
	color:white;
}
.kaki {
	background-color:#d0ba88;
	color:white;
}
.ltkaki {
	background-color:#e2c896;
	color:white;
}
.green {
	background-color:#6e9476;
	color:white;
}
.ltgreen {
	background-color:#7fa587;
	color:white;
}
.ltblue {
	background-color:#5d8eaf;
	color:white;
}

.icon {
	font-family: 'NWoutfitters';
}
.services {
	padding:0px 40px 50px 50px;
	
	}
.fish {
	margin-top:20px;
	background-image:url(../img/fishing.jpg);
	height:200px;
	
	}
	.fishb {
	margin-top:20px;
	background-image:url(../img/fishing.jpg);
	height:150px;
	
	}
.booka {
	margin:65px 0px 0px 0px;

	
}
.bookb {
	margin:30px 0px 0px 0px;

	
}
.phone {
	margin:40px 0px 20px 20px;
	color:#c65e50;
	
	
}
.facebook {
	color:#5d8eaf;
	margin: 20px 20px 0px 30px;
	font-size:50px;
	
	}
.twitter {
	color:#5d8eaf;
	font-size:50px;
	
	}
.logob {
	margin:5px 0px 0px 90px;
	padding:20px 0px 20px 0px;
}
.bicons {
	margin-top:50px;
	margin-left:20px;
}
.b {
	margin-top:20px;
	
}